# .NET
bin/
obj/

# Node / React
node_modules/
dist/

# Variables de entorno
.env
.env.*

# Visual Studio / VS Code
.vs/
.vscode/

# Archivos del sistema
Thumbs.db
.DS_Store

# Logs
*.log

# Credenciales privadas
SmartPantryAPI/appsettings.json

# Archivos de publicación
publish/
SmartPantryFinal*.zip

# Frontend generado
SmartPantryWeb/node_modules/
SmartPantryWeb/dist/